.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.fixedBox {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 200px;
  background-color: #333;
  display: flex; /* 使用 flexbox 來居中文字 */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
}

.verticalText {
  writing-mode: vertical-rl; /* 將文字設置為直式顯示 */
  transform: rotate(0deg); /* 將文字旋轉以適應從上到下的閱讀順序 */
  color: white; /* 文字顏色 */
  font-size: 16px; /* 文字大小 */
}
.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  padding: 10px;
}
/* 向左淡出动画 */
@keyframes fadeOutToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px); /* 增加移动距离以强化效果 */
  }
}

/* 向右淡入动画 */
@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(-50px); /* 增加移动距离以强化效果 */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeOutToLeft {
  animation: fadeOutToLeft 0.3s forwards;
}

.fadeInFromRight {
  animation: fadeInFromRight 0.3s forwards;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
