.photos {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  /* 保持滾動功能 */
  -ms-overflow-style: none;
  /* IE和Edge */
  scrollbar-width: none;
  /* Firefox */
  align-items: center;
  justify-content: center;
}

.photos::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, 和 Opera */
}

.photo-container {
  padding: 8px;
}

.photo-container .photo-box {

  width: 136px;
  /* 遮罩狀態下寬高 */
  height: 640px;
  overflow: hidden;
  display: inline-block;
  border-radius: 65px;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.photo-container img {
  width: 456px;
  height: 736px;
  /* 圖片原始寬高 */
  transform-origin: center center;
  transition: all 0.5s ease-in-out;
  /* 平滑过渡效果 */
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.photo-container.expanded {
  padding: 16px;
}

.photo-container.expanded .photo-box {
  width: 456px;
  height: 736px;

}