#thesis {
    background-color: peachpuff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.images-row {
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 中心对齐子项 */
    align-items: center; /* 纵向居中 */
    flex-direction: row; /* 子元素沿水平方向排列 */
    width: 100%; /* 根据需要调整 */
}

.placeholder {
    width: 48px;
    height: 48px;
    background-color: transparent;
    margin: 0 20px;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}



.year-container {
    position: relative;
    width: 120px; /* 与图像尺寸相匹配 */
    height: 120px; /* 与图像尺寸相匹配 */
    
    justify-content: center;
    align-items: center;
    display: flex; /* 启用Flexbox布局 */
  flex-direction: row; /* 子元素横向排列 */
 
  gap: 10px; /* 设置子元素之间的间隔 */
  margin-bottom: 10px; /* 为每个年份容器底部添加一些外边距 */
  }
  
  .planet-image {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .year-text {
    position: absolute;
    z-index: 1;
    color: #7EC0FC;
    text-align: center;
/* 特規字體/論文年份使用 */
font-family: "GenSenRounded TW";
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 21.6px */
   
   
  }
  
.image-container {
    overflow-x: auto;
    display: flex; /* 允许水平滚动 */
    overflow-y: hidden; /* 隐藏垂直滚动 */
    white-space: nowrap; /* 防止内容换行，确保水平布局 */
    width: 1200px; /* 容器宽度 */
    height: 120px; /* 容器高度，确保足够容纳图片而不需要垂直滚动 */
    scrollbar-width: none; /* 隐藏Firefox的滚动条 */
    -ms-overflow-style: none; /* 隐藏IE 10+的滚动条 */
    background-color:transparent; /* 可选：设置背景色以增加可读性 */
    flex-direction: row; /* 子元素横向排列 */
}

/* 隐藏Chrome, Safari, Opera的滚动条 */
.image-container::-webkit-scrollbar {
    display: none;
}

.image {
    width: 120px;
    height: 120px;
    display: inline-block;
}

.text-display-area {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /* 确保多行内容时也能向上对齐 */
    overflow-y: auto; /* 允许垂直滚动 */
    height: 500px; /* 或其他固定高度 */
    width: 66%; /* 根据需要调整 */
    padding: 10px;
    background-color: red; /* 可选：设置背景色以增加可读性 */
    margin-top: 20px;
    justify-content: flex-start; /* 确保子元素从容器的开始处排列 */
}

.text-display-area::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
    height: 8px; /* 滚动条高度（对水平滚动条有效） */
}

/* 滚动条滑块 */
.text-display-area::-webkit-scrollbar-thumb {
    background: #888; /* 滑块颜色 */
    border-radius: 4px; /* 滑块圆角 */
}

/* 滚动条轨道 */
.text-display-area::-webkit-scrollbar-track {
    background: #f0f0f0; /* 轨道颜色 */
    border-radius: 4px; /* 轨道圆角 */
}
.text-display-area .detail-block {
    text-align: left;
    height: 50px;
    flex: 1 1 auto; /* 允许方块根据内容自动调整宽度，但不允许它们长到超过它们的内容 */
    min-width: min-content; /* 设置最小宽度为内容的宽度 */
    max-width: min-content; /* 限制最大宽度为容器的50%，减去的10px是为了考虑间隙 */
    margin: 5px; /* 给方块之间添加一些间隙 */
    background-color: #f0f0f0; /* 浅灰色背景 */
     padding: 10px; /* 文本与色块边缘之间的间距 */
    border-radius: 5px; /* 轻微的圆角边缘 */
      /* 防止文本换行 */
      white-space: nowrap;
      /* 当文本超出方块宽度时，隐藏超出部分 */
      overflow: hidden;
      /* 添加省略号表示文本被截断 */
      text-overflow: ellipsis;
      
}
@media (max-width: 768px) {
    .placeholder {
        display: none;
    }
    .arrow-left, .arrow-right {
        display: none;
      }
    .image-container {
        width:480px;
        height: 70px; /* 容器高度，确保足够容纳图片而不需要垂直滚动 */
    }
    .year-container {
      
        width: 87px; /* 与图像尺寸相匹配 */
        height: 62%; /* 与图像尺寸相匹配 */
        

      }
      .image {
        width: 87px;
        height: 62px;
        display: inline-block;
    }
    .placeholder {
        width: 87px;
        height: 62px;
        background-color:transparent; /* 黑色 */
        margin: 0 20px; /* 添加一些外边距以便于观察 */
    }

}

@media (min-width: 769px) and (max-width: 960px) {
    .image-container {
        width: 600px;
        
    }

}

@media (min-width: 961px) and (max-width: 1280px) {
    .image-container {
        width: 720px;
      
    }
}