#thesis {
    background-color: peachpuff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 确保占满容器宽度 */
}

.images-row {
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 中心对齐子项 */
    align-items: center; /* 纵向居中 */
    flex-direction: row; /* 子元素沿水平方向排列 */
    width: 100%; /* 根据需要调整 */
}

.placeholder {
    width: 100px;
    height: 100px; /* 确保方形的尺寸 */
    background-color: #000; /* 黑色 */
    margin: 0 20px; /* 添加一些外边距以便于观察 */
}

.image-container {
    overflow-x: auto; /* 允许水平滚动 */
    overflow-y: hidden; /* 隐藏垂直滚动 */
    white-space: nowrap; /* 防止内容换行，确保水平布局 */
    width: 1000px; /* 容器宽度 */
    height: 200px; /* 容器高度，确保足够容纳图片而不需要垂直滚动 */
    scrollbar-width: none; /* 隐藏Firefox的滚动条 */
    -ms-overflow-style: none; /* 隐藏IE 10+的滚动条 */
    background-color: white; /* 可选：设置背景色以增加可读性 */
}

/* 隐藏Chrome, Safari, Opera的滚动条 */
.image-container::-webkit-scrollbar {
    display: none;
}

.image {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.text-display-area {
    height: 300px; /* 或其他固定高度 */
    width: 66%;
    overflow-y: auto; /* 当内容超过高度时允许垂直滚动 */
    padding: 10px; /* 可选：增加一些内边距使得阅读更舒适 */
    border: 1px solid #ccc; /* 可选：增加边框使得区块更明显 */
    margin-top: 20px; /* 和图片按钮列之间的间距 */
    display: flex; /* 启用 Flexbox 布局 */
    flex-wrap: wrap; /* 允许内容自动换行 */
    justify-content: flex-start; /* 项目在主轴（此处为水平方向）的对齐方式 */
   
}

.text-display-area .detail-block {
    height: 25%;
    flex: 1 1 auto; /* 允许方块根据内容自动调整宽度，但不允许它们长到超过它们的内容 */
    max-width: calc(50% - 10px); /* 限制最大宽度为容器的50%，减去的10px是为了考虑间隙 */
    margin: 5px; /* 给方块之间添加一些间隙 */
    background-color: #f0f0f0; /* 浅灰色背景 */
    margin-bottom: 15px; /* 与下一个色块之间的间距 */
    padding: 10px; /* 文本与色块边缘之间的间距 */
    border-radius: 5px; /* 轻微的圆角边缘 */
}
